.nav-container {
  display: grid;
  grid-template-columns: 3fr 5fr 2fr;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%);
}

.nav-container nav a {
  margin-left: 70px;
  text-decoration: none;
  font-size: 20px;
  color: black;
}

@media only screen and (max-width: 600px) {
  .nav-container {
    grid-template-columns: 1fr 2fr 1fr;
    margin: 10px;
  }

  .nav-container nav {
    grid-template-columns: 1fr;
    grid-gap: 10px;
    text-align: center;
  }

  .nav-container nav a {
    margin: 0;
    font-size: 16px;
    display: block;
  }
}

@media only screen and (min-width: 600px) and (max-width: 960px) {
  .nav-container {
    grid-template-columns: 1fr 2fr 1fr;
    margin: 10px;
  }

  .nav-container nav {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    text-align: center;
  }

  .nav-container nav a {
    margin: 0;
    font-size: 18px;
    display: block;
  }
}
