.background-image {
  background-image: url(../../assets/Vector-1.png), url(../../assets/Vector.png);
  background-position: right bottom, left top;
  background-repeat: no-repeat, no-repeat;
  width: auto;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .background-image {
    background-image: url(../../assets/Vector.png);
    background-position: left top;
    height: 100px;
  }
}

@media only screen and (max-width: 960px) {
  .background-image {
    height: 150px;
  }
}
